Value PORT (\d/\d/\d{1,3})
Value DEVICE_ID ([a-fA-F0-9]+)
Value IP_ADDRESS (\d{1,3}(\.\d{1,3}){3})
Value PLATFORM (.*)
Value DEVICE_PORT (.*)

Start
 ^ *Port +: +${PORT}
 ^ *Device ID +: +${DEVICE_ID}
 ^ *Address +: +${IP_ADDRESS}
 ^ *Platform +: +${PLATFORM}
 ^ *Capability.*
 ^ *Neighbor Port-ID +: +${DEVICE_PORT} -> Record