Value SERIAL_NUMBER ([A-Z0-9]{10})
Value CHASSIS_MODEL ([A-Z0-9]{6})
Value MODULE_NAME (\d/\d+)
Value DESCRIPTION ([\w ]*)

Start
 ^${MODULE_NAME} +${CHASSIS_MODEL} *${DESCRIPTION} *${SERIAL_NUMBER}.* -> Record