Value Required INTERFACE (\d/\d/\d{1,3}|lag \d+)
Value NAME (.+)
Value TAGGED_VLAN (\d{1,4}(,\d{1,4})*)
Value Required UNTAGGED_VLAN (\d{1,4})

Start
 ^interface ${INTERFACE}
 ^ *description ${NAME} -> Continue
 ^ *vlan trunk native ${UNTAGGED_VLAN} -> Continue
 ^ *vlan access ${UNTAGGED_VLAN} -> Continue
 ^ *vlan trunk allowed +${TAGGED_VLAN} -> Continue
 ^ *exit -> Record