Value Required SYSTEM_NAME (.+)
Value SOFTWARE_VERSION ([A-Z]{2}\.\d{2}\.\d{2}\.\d{4})
Value BASE_MAC ([a-fA-F0-9]{6}-[a-fA-F0-9]{6})
Value SERIAL_NUMBER (\w{10})
Value SYSTEM_LOCATION (.+)

Start
 ^ *Hostname +: +${SYSTEM_NAME}
 ^ *System Location +: +${SYSTEM_LOCATION}
 ^ *Chassis Serial Nbr +: +${SERIAL_NUMBER}
 ^ *Base MAC Address +: +${BASE_MAC}
 ^ *ArubaOS-CX Version +: +${SOFTWARE_VERSION} -> Record