Value SWITCH (\d{1,2})
Value PORTS (\d{1,3})
Value MODEL (C\d+-\d+[a-zA-Z]+)
Value SERIAL_NUMBER ([A-Z0-9]{11})
Value MAC ([a-f0-9]{4}(\.[a-f0-9]{4}){2})
Value HW_VERSION (V\d+)
Value SOFTWARE_VERSION (\d{2}\.\d{1,2}\.\d{1,2})

Start
 ^ *${SWITCH} +${PORTS} +${MODEL} +${SERIAL_NUMBER} +${MAC} +${HW_VERSION} +${SOFTWARE_VERSION} -> Record