Value PORT ([a-zA-Z0-9-]+)
Value NAME (.*)
Value STATUS (Up|Down)
Value CONFIG_MODE (\w*)
Value SPEED ([0-9a-zA-Z]*)
Value TYPE ([0-9a-zA-Z-]*)
Value TAGGED (\w*)
Value UNTAGGED (\d{1,4})

Start
 ^ *${PORT} +${NAME} +${STATUS} +${CONFIG_MODE} +${SPEED} +${TYPE} +${TAGGED} +${UNTAGGED}.* -> Record