Value LOCAL_PORT ([A-Z]+\d+)
Value CHASSIS_ID ([a-fA-F0-9]{2}( [a-fA-F0-9]{2}){5})
Value PORT_ID (\d+)
Value PORT_DES_SYS_NAME (.*)

Start
 ^ *${LOCAL_PORT} +\| +${CHASSIS_ID} +${PORT_ID} +${PORT_DES_SYS_NAME}.* -> Record