Value Required INTERFACE (\w+(\/?\w+)*)
Value NAME ([ -~]*)
Value TAGGED_VLAN (.*)
Value Required UNTAGGED_VLAN (.*)
Value TRUNK (trk\d+.*)

Start
 ^interface ${INTERFACE}
 ^ *name "${NAME}" -> Continue
 ^ *tagged +vlan +${TAGGED_VLAN} -> Continue
 ^ *untagged +vlan +${UNTAGGED_VLAN} -> Continue
 ^ *trunk ${TRUNK} -> Continue
 ^ *exit -> Record