Value INTERFACE (Vl\d{1,4}|[a-zA-Z]{2}(\d/){1,2}\d{1,2}|Po\d{1,4})
Value STATUS (admin down|up|down)
Value PROTOCOL (up|down)
Value DESCRIPTION (.*)

Start
 ^ *${INTERFACE} +${STATUS} +${PROTOCOL} +${DESCRIPTION} -> Record